<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Jogos</title>
</head>
<body>

<h1>Lista de Jogos</h1>

<a th:href="@{/jogos/novo}">Novo Jogo</a>

<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Gênero</th>
            <th>Plataforma</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="jogo : ${jogos}">
            <td th:text="${jogo.id}"></td>
            <td th:text="${jogo.nome}"></td>
            <td th:text="${jogo.genero}"></td>
            <td th:text="${jogo.plataforma}"></td>
            <td th:text="${jogo.preco}"></td>
        </tr>
    </tbody>
</table>

</body>
</html>